<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Iluminacion</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="IluminacionSirveparcialporcentaje">IluminacionSirveparcialporcentaje: </label>  
			<span th:text="${iluminacion.IluminacionSirveparcialporcentaje}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdIluminacion">IdIluminacion: </label>  
			<span th:text="${iluminacion.IdIluminacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${iluminacion.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionId">IluminacionId: </label>  
			<span th:text="${iluminacion.IluminacionId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionNumero">IluminacionNumero: </label>  
			<span th:text="${iluminacion.IluminacionNumero}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionTipo">IluminacionTipo: </label>  
			<span th:text="${iluminacion.IluminacionTipo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionCostado">IluminacionCostado: </label>  
			<span th:text="${iluminacion.IluminacionCostado}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionAveria">IluminacionAveria: </label>  
			<span th:text="${iluminacion.IluminacionAveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionNosirve">IluminacionNosirve: </label>  
			<span th:text="${iluminacion.IluminacionNosirve}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionSirveparcial">IluminacionSirveparcial: </label>  
			<span th:text="${iluminacion.IluminacionSirveparcial}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionSoporte">IluminacionSoporte: </label>  
			<span th:text="${iluminacion.IluminacionSoporte}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionFaltabombilla">IluminacionFaltabombilla: </label>  
			<span th:text="${iluminacion.IluminacionFaltabombilla}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IluminacionFaltaacrilico">IluminacionFaltaacrilico: </label>  
			<span th:text="${iluminacion.IluminacionFaltaacrilico}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/iluminacions}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/iluminacions/delete/{id}(id = ${iluminacion.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/iluminacions/edit/{id}(id = ${iluminacion.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
