<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Armada</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="ArmadaLongitud">ArmadaLongitud: </label>  
			<span th:text="${armada.ArmadaLongitud}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdArmada">IdArmada: </label>  
			<span th:text="${armada.IdArmada}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${armada.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaId">ArmadaId: </label>  
			<span th:text="${armada.ArmadaId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaAlto">ArmadaAlto: </label>  
			<span th:text="${armada.ArmadaAlto}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaAveria">ArmadaAveria: </label>  
			<span th:text="${armada.ArmadaAveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaPorcentajeaveria">ArmadaPorcentajeaveria: </label>  
			<span th:text="${armada.ArmadaPorcentajeaveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaGrietas">ArmadaGrietas: </label>  
			<span th:text="${armada.ArmadaGrietas}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaFiltraciones">ArmadaFiltraciones: </label>  
			<span th:text="${armada.ArmadaFiltraciones}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaDeformaciones">ArmadaDeformaciones: </label>  
			<span th:text="${armada.ArmadaDeformaciones}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ArmadaContaminacion">ArmadaContaminacion: </label>  
			<span th:text="${armada.ArmadaContaminacion}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/armadas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/armadas/delete/{id}(id = ${armada.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/armadas/edit/{id}(id = ${armada.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
