<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Pantallas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>PantallaPorcentajemanchas</th> 
					<th>PantallaFisura</th> 
					<th>PantallaSinservicio</th> 
					<th>PantallaNumero</th> 
					<th>IdSeccionestacion</th> 
					<th>PantallaCostado</th> 
					<th>PantallaAveria</th> 
					<th>PantallaManchas</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="pantalla : ${listPantalla}">
										<td th:text="${pantalla.PantallaPorcentajemanchas}"></td> 
					<td th:text="${pantalla.PantallaFisura}"></td> 
					<td th:text="${pantalla.PantallaSinservicio}"></td> 
					<td th:text="${pantalla.PantallaNumero}"></td> 
					<td th:text="${pantalla.IdSeccionestacion}"></td> 
					<td th:text="${pantalla.PantallaCostado}"></td> 
					<td th:text="${pantalla.PantallaAveria}"></td> 
					<td th:text="${pantalla.PantallaManchas}"></td> 
					<td>
							<a th:href="@{/pantallas/{id}(id = ${pantalla.id})}">Show</a> 
					 		<a th:href="@{/pantallas/edit/{id}(id = ${pantalla.id})}">Edit</a> 
							<a th:href="@{/pantallas/delete/{id}(id = ${pantalla.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/pantallas/{id}(id = ${pantalla.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/pantallas/edit/{id}(id = ${pantalla.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/pantallas/delete/{id}(id = ${pantalla.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/pantallas/new}" class="btn btn-primary">Crear Pantalla</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
