<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Troncals</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>TroncalOrientacion</th> 
					<th>TroncalZona</th> 
					<th>TroncalNombre</th> 
					<th>TroncalDescipcion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="troncal : ${listTroncal}">
										<td th:text="${troncal.TroncalOrientacion}"></td> 
					<td th:text="${troncal.TroncalZona}"></td> 
					<td th:text="${troncal.TroncalNombre}"></td> 
					<td th:text="${troncal.TroncalDescipcion}"></td> 
					<td>
							<a th:href="@{/troncals/{id}(id = ${troncal.id})}">Show</a> 
					 		<a th:href="@{/troncals/edit/{id}(id = ${troncal.id})}">Edit</a> 
							<a th:href="@{/troncals/delete/{id}(id = ${troncal.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/troncals/{id}(id = ${troncal.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/troncals/edit/{id}(id = ${troncal.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/troncals/delete/{id}(id = ${troncal.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/troncals/new}" class="btn btn-primary">Crear Troncal</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
