<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Troncal</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="TroncalOrientacion">TroncalOrientacion: </label>  
			<span th:text="${troncal.TroncalOrientacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TroncalZona">TroncalZona: </label>  
			<span th:text="${troncal.TroncalZona}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TroncalNombre">TroncalNombre: </label>  
			<span th:text="${troncal.TroncalNombre}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TroncalDescipcion">TroncalDescipcion: </label>  
			<span th:text="${troncal.TroncalDescipcion}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/troncales}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/troncales/delete/{id}(id = ${troncal.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/troncales/edit/{id}(id = ${troncal.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
