<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Banderas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdBandera</th> 
					<th>IdSeccionestacion</th> 
					<th>BanderametalId</th> 
					<th>BanderametalCostado</th> 
					<th>BanderametalVagonNumero</th> 
					<th>BanderametalNumero</th> 
					<th>BanderametalDoblado</th> 
					<th>BanderametalRoto</th> 
					<th>BanderametalDesaparecido</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="bandera : ${listBandera}">
										<td th:text="${bandera.IdBandera}"></td> 
					<td th:text="${bandera.IdSeccionestacion}"></td> 
					<td th:text="${bandera.BanderametalId}"></td> 
					<td th:text="${bandera.BanderametalCostado}"></td> 
					<td th:text="${bandera.BanderametalVagonNumero}"></td> 
					<td th:text="${bandera.BanderametalNumero}"></td> 
					<td th:text="${bandera.BanderametalDoblado}"></td> 
					<td th:text="${bandera.BanderametalRoto}"></td> 
					<td th:text="${bandera.BanderametalDesaparecido}"></td> 
					<td>
							<a th:href="@{/banderas/{id}(id = ${bandera.id})}">Show</a> 
					 		<a th:href="@{/banderas/edit/{id}(id = ${bandera.id})}">Edit</a> 
							<a th:href="@{/banderas/delete/{id}(id = ${bandera.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/banderas/{id}(id = ${bandera.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/banderas/edit/{id}(id = ${bandera.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/banderas/delete/{id}(id = ${bandera.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/banderas/new}" class="btn btn-primary">Crear Bandera</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
