<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Pisos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>PisoPorcentajeaveria</th> 
					<th>PisoAveria</th> 
					<th>PisoArea</th> 
					<th>PisoLongitud</th> 
					<th>PisoModulo</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="piso : ${listPiso}">
										<td th:text="${piso.PisoPorcentajeaveria}"></td> 
					<td th:text="${piso.PisoAveria}"></td> 
					<td th:text="${piso.PisoArea}"></td> 
					<td th:text="${piso.PisoLongitud}"></td> 
					<td th:text="${piso.PisoModulo}"></td> 
					<td th:text="${piso.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/pisos/{id}(id = ${piso.id})}">Show</a> 
					 		<a th:href="@{/pisos/edit/{id}(id = ${piso.id})}">Edit</a> 
							<a th:href="@{/pisos/delete/{id}(id = ${piso.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/pisos/{id}(id = ${piso.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/pisos/edit/{id}(id = ${piso.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/pisos/delete/{id}(id = ${piso.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/pisos/new}" class="btn btn-primary">Crear Piso</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
