<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Piso</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="PisoPorcentajeaveria">PisoPorcentajeaveria: </label>  
			<span th:text="${piso.PisoPorcentajeaveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PisoAveria">PisoAveria: </label>  
			<span th:text="${piso.PisoAveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PisoArea">PisoArea: </label>  
			<span th:text="${piso.PisoArea}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PisoLongitud">PisoLongitud: </label>  
			<span th:text="${piso.PisoLongitud}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PisoModulo">PisoModulo: </label>  
			<span th:text="${piso.PisoModulo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${piso.IdSeccionestacion}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/pisos}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/pisos/delete/{id}(id = ${piso.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/pisos/edit/{id}(id = ${piso.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
