<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Cajeroelecs</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>CajeroelecId</th> 
					<th>IdSeccionestacion</th> 
					<th>CajeroelecEntidad</th> 
					<th>CajeroelecSinservicio</th> 
					<th>CajeroelecContaminacion</th> 
					<th>CajeroelecRutaImagen</th> 
					<th>CajeroelecImagen</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="cajeroelec : ${listCajeroelec}">
										<td th:text="${cajeroelec.CajeroelecId}"></td> 
					<td th:text="${cajeroelec.IdSeccionestacion}"></td> 
					<td th:text="${cajeroelec.CajeroelecEntidad}"></td> 
					<td th:text="${cajeroelec.CajeroelecSinservicio}"></td> 
					<td th:text="${cajeroelec.CajeroelecContaminacion}"></td> 
					<td th:text="${cajeroelec.CajeroelecRutaImagen}"></td> 
					<td th:text="${cajeroelec.CajeroelecImagen}"></td> 
					<td>
							<a th:href="@{/cajeroelecs/{id}(id = ${cajeroelec.id})}">Show</a> 
					 		<a th:href="@{/cajeroelecs/edit/{id}(id = ${cajeroelec.id})}">Edit</a> 
							<a th:href="@{/cajeroelecs/delete/{id}(id = ${cajeroelec.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/cajeroelecs/{id}(id = ${cajeroelec.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/cajeroelecs/edit/{id}(id = ${cajeroelec.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/cajeroelecs/delete/{id}(id = ${cajeroelec.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/cajeroelecs/new}" class="btn btn-primary">Crear Cajeroelec</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
