<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Cajeroelec</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="CajeroelecId">CajeroelecId: </label>  
			<span th:text="${cajeroelec.CajeroelecId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${cajeroelec.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CajeroelecEntidad">CajeroelecEntidad: </label>  
			<span th:text="${cajeroelec.CajeroelecEntidad}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CajeroelecSinservicio">CajeroelecSinservicio: </label>  
			<span th:text="${cajeroelec.CajeroelecSinservicio}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CajeroelecContaminacion">CajeroelecContaminacion: </label>  
			<span th:text="${cajeroelec.CajeroelecContaminacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CajeroelecRutaImagen">CajeroelecRutaImagen: </label>  
			<span th:text="${cajeroelec.CajeroelecRutaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CajeroelecImagen">CajeroelecImagen: </label>  
			<span th:text="${cajeroelec.CajeroelecImagen}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/cajeroelecs}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/cajeroelecs/delete/{id}(id = ${cajeroelec.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/cajeroelecs/edit/{id}(id = ${cajeroelec.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
