<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${silla.id == null}">Agregar Silla</h1>
			<h1 th:if="${silla.id != null}">Editar Silla</h1>
			<hr />

			<form th:action="@{/sillas}" th:method="@{${silla.id == null} ? 'post' : 'put'}" th:object="${silla}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="SillaLargo">SillaLargo</label>  
					<input id="SillaLargo" name="SillaLargo" type="text" class="form-control" th:field="*{SillaLargo}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaId">SillaId</label>  
					<input id="SillaId" name="SillaId" type="text" class="form-control" th:field="*{SillaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSilla">IdSilla</label>  
					<input id="IdSilla" name="IdSilla" type="text" class="form-control" th:field="*{IdSilla}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaFaltante">SillaFaltante</label>  
					<input id="SillaFaltante" name="SillaFaltante" type="text" class="form-control" th:field="*{SillaFaltante}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaCarbonatacion">SillaCarbonatacion</label>  
					<input id="SillaCarbonatacion" name="SillaCarbonatacion" type="text" class="form-control" th:field="*{SillaCarbonatacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaDesintegracion">SillaDesintegracion</label>  
					<input id="SillaDesintegracion" name="SillaDesintegracion" type="text" class="form-control" th:field="*{SillaDesintegracion}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaPandeo">SillaPandeo</label>  
					<input id="SillaPandeo" name="SillaPandeo" type="text" class="form-control" th:field="*{SillaPandeo}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaPandeoEstructura">SillaPandeoEstructura</label>  
					<input id="SillaPandeoEstructura" name="SillaPandeoEstructura" type="text" class="form-control" th:field="*{SillaPandeoEstructura}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaAlto">SillaAlto</label>  
					<input id="SillaAlto" name="SillaAlto" type="text" class="form-control" th:field="*{SillaAlto}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaAveria">SillaAveria</label>  
					<input id="SillaAveria" name="SillaAveria" type="text" class="form-control" th:field="*{SillaAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaCorrosion">SillaCorrosion</label>  
					<input id="SillaCorrosion" name="SillaCorrosion" type="text" class="form-control" th:field="*{SillaCorrosion}" />  
				</div> 
				<div class="form-group"> 
					<label for="SillaAncho">SillaAncho</label>  
					<input id="SillaAncho" name="SillaAncho" type="text" class="form-control" th:field="*{SillaAncho}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/sillas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
