<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${derivacion.id == null}">Agregar Derivacion</h1>
			<h1 th:if="${derivacion.id != null}">Editar Derivacion</h1>
			<hr />

			<form th:action="@{/derivacions}" th:method="@{${derivacion.id == null} ? 'post' : 'put'}" th:object="${derivacion}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="IdDerivacion">IdDerivacion</label>  
					<input id="IdDerivacion" name="IdDerivacion" type="text" class="form-control" th:field="*{IdDerivacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionId">DerivacionId</label>  
					<input id="DerivacionId" name="DerivacionId" type="text" class="form-control" th:field="*{DerivacionId}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionCostado">DerivacionCostado</label>  
					<input id="DerivacionCostado" name="DerivacionCostado" type="text" class="form-control" th:field="*{DerivacionCostado}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionAveria">DerivacionAveria</label>  
					<input id="DerivacionAveria" name="DerivacionAveria" type="text" class="form-control" th:field="*{DerivacionAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionCorrosion">DerivacionCorrosion</label>  
					<input id="DerivacionCorrosion" name="DerivacionCorrosion" type="text" class="form-control" th:field="*{DerivacionCorrosion}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionPorcentajecorrosion">DerivacionPorcentajecorrosion</label>  
					<input id="DerivacionPorcentajecorrosion" name="DerivacionPorcentajecorrosion" type="text" class="form-control" th:field="*{DerivacionPorcentajecorrosion}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionSintuberia">DerivacionSintuberia</label>  
					<input id="DerivacionSintuberia" name="DerivacionSintuberia" type="text" class="form-control" th:field="*{DerivacionSintuberia}" />  
				</div> 
				<div class="form-group"> 
					<label for="DerivacionSintapa">DerivacionSintapa</label>  
					<input id="DerivacionSintapa" name="DerivacionSintapa" type="text" class="form-control" th:field="*{DerivacionSintapa}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/derivacions}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
