<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Biblioestaciones</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdSeccionestacion</th> 
					<th>BiblioestacionArea</th> 
					<th>BiblioestacionAncho</th> 
					<th>BiblioestacionLargo</th> 
					<th>BiblioestacionRutaImagen</th> 
					<th>BiblioestacionImagen</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="biblioestacion : ${listBiblioestacion}">
										<td th:text="${biblioestacion.IdSeccionestacion}"></td> 
					<td th:text="${biblioestacion.BiblioestacionArea}"></td> 
					<td th:text="${biblioestacion.BiblioestacionAncho}"></td> 
					<td th:text="${biblioestacion.BiblioestacionLargo}"></td> 
					<td th:text="${biblioestacion.BiblioestacionRutaImagen}"></td> 
					<td th:text="${biblioestacion.BiblioestacionImagen}"></td> 
					<td>
							<a th:href="@{/biblioestaciones/{id}(id = ${biblioestacion.id})}">Show</a> 
					 		<a th:href="@{/biblioestaciones/edit/{id}(id = ${biblioestacion.id})}">Edit</a> 
							<a th:href="@{/biblioestaciones/delete/{id}(id = ${biblioestacion.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/biblioestaciones/{id}(id = ${biblioestacion.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/biblioestaciones/edit/{id}(id = ${biblioestacion.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/biblioestaciones/delete/{id}(id = ${biblioestacion.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/biblioestaciones/new}" class="btn btn-primary">Crear Biblioestacion</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
