<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${cercha.id == null}">Agregar Cercha</h1>
			<h1 th:if="${cercha.id != null}">Editar Cercha</h1>
			<hr />

			<form th:action="@{/cerchas}" th:method="@{${cercha.id == null} ? 'post' : 'put'}" th:object="${cercha}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="CerchaPiezadeformada">CerchaPiezadeformada</label>  
					<input id="CerchaPiezadeformada" name="CerchaPiezadeformada" type="text" class="form-control" th:field="*{CerchaPiezadeformada}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaCorrosion">CerchaCorrosion</label>  
					<input id="CerchaCorrosion" name="CerchaCorrosion" type="text" class="form-control" th:field="*{CerchaCorrosion}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaPiezafalta">CerchaPiezafalta</label>  
					<input id="CerchaPiezafalta" name="CerchaPiezafalta" type="text" class="form-control" th:field="*{CerchaPiezafalta}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaPorcentajeaveria">CerchaPorcentajeaveria</label>  
					<input id="CerchaPorcentajeaveria" name="CerchaPorcentajeaveria" type="text" class="form-control" th:field="*{CerchaPorcentajeaveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaAveria">CerchaAveria</label>  
					<input id="CerchaAveria" name="CerchaAveria" type="text" class="form-control" th:field="*{CerchaAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaId">CerchaId</label>  
					<input id="CerchaId" name="CerchaId" type="text" class="form-control" th:field="*{CerchaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdCercha">IdCercha</label>  
					<input id="IdCercha" name="IdCercha" type="text" class="form-control" th:field="*{IdCercha}" />  
				</div> 
				<div class="form-group"> 
					<label for="CerchaPinturaepoxica">CerchaPinturaepoxica</label>  
					<input id="CerchaPinturaepoxica" name="CerchaPinturaepoxica" type="text" class="form-control" th:field="*{CerchaPinturaepoxica}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/cerchas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
