<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Techos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>TechoTipo</th> 
					<th>TechoAveria</th> 
					<th>TechoArea</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="techo : ${listTecho}">
										<td th:text="${techo.TechoTipo}"></td> 
					<td th:text="${techo.TechoAveria}"></td> 
					<td th:text="${techo.TechoArea}"></td> 
					<td th:text="${techo.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/techos/{id}(id = ${techo.id})}">Show</a> 
					 		<a th:href="@{/techos/edit/{id}(id = ${techo.id})}">Edit</a> 
							<a th:href="@{/techos/delete/{id}(id = ${techo.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/techos/{id}(id = ${techo.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/techos/edit/{id}(id = ${techo.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/techos/delete/{id}(id = ${techo.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/techos/new}" class="btn btn-primary">Crear Techo</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
