<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Puertas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdSeccionestacion</th> 
					<th>PuertaId</th> 
					<th>PuertaTipo</th> 
					<th>PuertaAncho</th> 
					<th>PuertaAveria</th> 
					<th>PuertaPorcentajeaveria</th> 
					<th>PuertaRejaMetalicaRota</th> 
					<th>PuertaAveriaCierre</th> 
					<th>PuertaContaVisual</th> 
					<th>PuertaDescolgada</th> 
					<th>PuertaFaltabisagra</th> 
					<th>PuertaCorrosion</th> 
					<th>PuertaPerdida</th> 
					<th>PuertaMalestado</th> 
					<th>PuertaAlto</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="puerta : ${listPuerta}">
										<td th:text="${puerta.IdSeccionestacion}"></td> 
					<td th:text="${puerta.PuertaId}"></td> 
					<td th:text="${puerta.PuertaTipo}"></td> 
					<td th:text="${puerta.PuertaAncho}"></td> 
					<td th:text="${puerta.PuertaAveria}"></td> 
					<td th:text="${puerta.PuertaPorcentajeaveria}"></td> 
					<td th:text="${puerta.PuertaRejaMetalicaRota}"></td> 
					<td th:text="${puerta.PuertaAveriaCierre}"></td> 
					<td th:text="${puerta.PuertaContaVisual}"></td> 
					<td th:text="${puerta.PuertaDescolgada}"></td> 
					<td th:text="${puerta.PuertaFaltabisagra}"></td> 
					<td th:text="${puerta.PuertaCorrosion}"></td> 
					<td th:text="${puerta.PuertaPerdida}"></td> 
					<td th:text="${puerta.PuertaMalestado}"></td> 
					<td th:text="${puerta.PuertaAlto}"></td> 
					<td>
							<a th:href="@{/puertas/{id}(id = ${puerta.id})}">Show</a> 
					 		<a th:href="@{/puertas/edit/{id}(id = ${puerta.id})}">Edit</a> 
							<a th:href="@{/puertas/delete/{id}(id = ${puerta.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/puertas/{id}(id = ${puerta.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/puertas/edit/{id}(id = ${puerta.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/puertas/delete/{id}(id = ${puerta.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/puertas/new}" class="btn btn-primary">Crear Puerta</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
