<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Mapa</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="MapaImagen">MapaImagen: </label>  
			<span th:text="${mapa.MapaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdMapa">IdMapa: </label>  
			<span th:text="${mapa.IdMapa}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${mapa.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaId">MapaId: </label>  
			<span th:text="${mapa.MapaId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaAlto">MapaAlto: </label>  
			<span th:text="${mapa.MapaAlto}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaAncho">MapaAncho: </label>  
			<span th:text="${mapa.MapaAncho}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaCostado">MapaCostado: </label>  
			<span th:text="${mapa.MapaCostado}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaPlacamalestado">MapaPlacamalestado: </label>  
			<span th:text="${mapa.MapaPlacamalestado}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaPlacaperdidaelemento">MapaPlacaperdidaelemento: </label>  
			<span th:text="${mapa.MapaPlacaperdidaelemento}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaPlacalegible">MapaPlacalegible: </label>  
			<span th:text="${mapa.MapaPlacalegible}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaEsquemaaveria">MapaEsquemaaveria: </label>  
			<span th:text="${mapa.MapaEsquemaaveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaEsquemacontaminacion">MapaEsquemacontaminacion: </label>  
			<span th:text="${mapa.MapaEsquemacontaminacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaEsquemalegible">MapaEsquemalegible: </label>  
			<span th:text="${mapa.MapaEsquemalegible}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="MapaRutaImagen">MapaRutaImagen: </label>  
			<span th:text="${mapa.MapaRutaImagen}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/mapas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/mapas/delete/{id}(id = ${mapa.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/mapas/edit/{id}(id = ${mapa.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
