<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Vagons</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdVagonoperacional</th> 
					<th>VagonId</th> 
					<th>VagonNomenclatura</th> 
					<th>VagonNomoperacional</th> 
					<th>VagonNomusuario</th> 
					<th>VagonLargo</th> 
					<th>VagonAncho</th> 
					<th>VagonNivel</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="vagon : ${listVagon}">
										<td th:text="${vagon.IdVagonoperacional}"></td> 
					<td th:text="${vagon.VagonId}"></td> 
					<td th:text="${vagon.VagonNomenclatura}"></td> 
					<td th:text="${vagon.VagonNomoperacional}"></td> 
					<td th:text="${vagon.VagonNomusuario}"></td> 
					<td th:text="${vagon.VagonLargo}"></td> 
					<td th:text="${vagon.VagonAncho}"></td> 
					<td th:text="${vagon.VagonNivel}"></td> 
					<td>
							<a th:href="@{/vagons/{id}(id = ${vagon.id})}">Show</a> 
					 		<a th:href="@{/vagons/edit/{id}(id = ${vagon.id})}">Edit</a> 
							<a th:href="@{/vagons/delete/{id}(id = ${vagon.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/vagons/{id}(id = ${vagon.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/vagons/edit/{id}(id = ${vagon.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/vagons/delete/{id}(id = ${vagon.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/vagons/new}" class="btn btn-primary">Crear Vagon</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
