<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Accesos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdSeccionestacion</th> 
					<th>AccesoFormaingreso</th> 
					<th>AccesoTotal</th> 
					<th>AccesoTorniquete</th> 
					<th>AccesoDistribucion</th> 
					<th>AccesoId</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="acceso : ${listAcceso}">
										<td th:text="${acceso.IdSeccionestacion}"></td> 
					<td th:text="${acceso.AccesoFormaingreso}"></td> 
					<td th:text="${acceso.AccesoTotal}"></td> 
					<td th:text="${acceso.AccesoTorniquete}"></td> 
					<td th:text="${acceso.AccesoDistribucion}"></td> 
					<td th:text="${acceso.AccesoId}"></td> 
					<td>
							<a th:href="@{/accesos/{id}(id = ${acceso.id})}">Show</a> 
					 		<a th:href="@{/accesos/edit/{id}(id = ${acceso.id})}">Edit</a> 
							<a th:href="@{/accesos/delete/{id}(id = ${acceso.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/accesos/{id}(id = ${acceso.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/accesos/edit/{id}(id = ${acceso.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/accesos/delete/{id}(id = ${acceso.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/accesos/new}" class="btn btn-primary">Crear Acceso</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
