<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Recarga</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="IdRecarga">IdRecarga: </label>  
			<span th:text="${recarga.IdRecarga}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${recarga.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaId">RecargaId: </label>  
			<span th:text="${recarga.RecargaId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaCostado">RecargaCostado: </label>  
			<span th:text="${recarga.RecargaCostado}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaEnservicio">RecargaEnservicio: </label>  
			<span th:text="${recarga.RecargaEnservicio}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaContaminacion">RecargaContaminacion: </label>  
			<span th:text="${recarga.RecargaContaminacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaRutaImagen">RecargaRutaImagen: </label>  
			<span th:text="${recarga.RecargaRutaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="RecargaImagen">RecargaImagen: </label>  
			<span th:text="${recarga.RecargaImagen}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/recargas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/recargas/delete/{id}(id = ${recarga.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/recargas/edit/{id}(id = ${recarga.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
