<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${reservaagua.id == null}">Agregar Reservaagua</h1>
			<h1 th:if="${reservaagua.id != null}">Editar Reservaagua</h1>
			<hr />

			<form th:action="@{/reservaaguas}" th:method="@{${reservaagua.id == null} ? 'post' : 'put'}" th:object="${reservaagua}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="ReservaaguaId">ReservaaguaId</label>  
					<input id="ReservaaguaId" name="ReservaaguaId" type="text" class="form-control" th:field="*{ReservaaguaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdReservaagua">IdReservaagua</label>  
					<input id="IdReservaagua" name="IdReservaagua" type="text" class="form-control" th:field="*{IdReservaagua}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="ReservaaguaCapacidad">ReservaaguaCapacidad</label>  
					<input id="ReservaaguaCapacidad" name="ReservaaguaCapacidad" type="text" class="form-control" th:field="*{ReservaaguaCapacidad}" />  
				</div> 
				<div class="form-group"> 
					<label for="ReservaaguaUbicacion">ReservaaguaUbicacion</label>  
					<input id="ReservaaguaUbicacion" name="ReservaaguaUbicacion" type="text" class="form-control" th:field="*{ReservaaguaUbicacion}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/reservaaguas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
