<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Reservaaguas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>ReservaaguaId</th> 
					<th>IdReservaagua</th> 
					<th>IdSeccionestacion</th> 
					<th>ReservaaguaCapacidad</th> 
					<th>ReservaaguaUbicacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="reservaagua : ${listReservaagua}">
										<td th:text="${reservaagua.ReservaaguaId}"></td> 
					<td th:text="${reservaagua.IdReservaagua}"></td> 
					<td th:text="${reservaagua.IdSeccionestacion}"></td> 
					<td th:text="${reservaagua.ReservaaguaCapacidad}"></td> 
					<td th:text="${reservaagua.ReservaaguaUbicacion}"></td> 
					<td>
							<a th:href="@{/reservaaguas/{id}(id = ${reservaagua.id})}">Show</a> 
					 		<a th:href="@{/reservaaguas/edit/{id}(id = ${reservaagua.id})}">Edit</a> 
							<a th:href="@{/reservaaguas/delete/{id}(id = ${reservaagua.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/reservaaguas/{id}(id = ${reservaagua.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/reservaaguas/edit/{id}(id = ${reservaagua.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/reservaaguas/delete/{id}(id = ${reservaagua.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/reservaaguas/new}" class="btn btn-primary">Crear Reservaagua</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
