<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Caniless</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdCaniles</th> 
					<th>CanilesImagen</th> 
					<th>CanilesRutaImagen</th> 
					<th>CanilesTotal</th> 
					<th>CanilesNumeroaveriados</th> 
					<th>CanilesNumerosinservicio</th> 
					<th>CanilesCantidad</th> 
					<th>CanilesId</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="caniles : ${listCaniles}">
										<td th:text="${caniles.IdCaniles}"></td> 
					<td th:text="${caniles.CanilesImagen}"></td> 
					<td th:text="${caniles.CanilesRutaImagen}"></td> 
					<td th:text="${caniles.CanilesTotal}"></td> 
					<td th:text="${caniles.CanilesNumeroaveriados}"></td> 
					<td th:text="${caniles.CanilesNumerosinservicio}"></td> 
					<td th:text="${caniles.CanilesCantidad}"></td> 
					<td th:text="${caniles.CanilesId}"></td> 
					<td th:text="${caniles.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/caniless/{id}(id = ${caniles.id})}">Show</a> 
					 		<a th:href="@{/caniless/edit/{id}(id = ${caniles.id})}">Edit</a> 
							<a th:href="@{/caniless/delete/{id}(id = ${caniles.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/caniless/{id}(id = ${caniles.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/caniless/edit/{id}(id = ${caniles.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/caniless/delete/{id}(id = ${caniles.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/caniless/new}" class="btn btn-primary">Crear Caniles</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
