<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${entrada.id == null}">Agregar Entrada</h1>
			<h1 th:if="${entrada.id != null}">Editar Entrada</h1>
			<hr />

			<form th:action="@{/entradas}" th:method="@{${entrada.id == null} ? 'post' : 'put'}" th:object="${entrada}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="EntradaId">EntradaId</label>  
					<input id="EntradaId" name="EntradaId" type="text" class="form-control" th:field="*{EntradaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="EntradaNivel">EntradaNivel</label>  
					<input id="EntradaNivel" name="EntradaNivel" type="text" class="form-control" th:field="*{EntradaNivel}" />  
				</div> 
				<div class="form-group"> 
					<label for="EntradaLargo">EntradaLargo</label>  
					<input id="EntradaLargo" name="EntradaLargo" type="text" class="form-control" th:field="*{EntradaLargo}" />  
				</div> 
				<div class="form-group"> 
					<label for="EntradaAncho">EntradaAncho</label>  
					<input id="EntradaAncho" name="EntradaAncho" type="text" class="form-control" th:field="*{EntradaAncho}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/entradas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
