<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Entradas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdEntrada</th> 
					<th>EntradaId</th> 
					<th>EntradaNivel</th> 
					<th>EntradaLargo</th> 
					<th>EntradaAncho</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="entrada : ${listEntrada}">
										<td th:text="${entrada.IdEntrada}"></td> 
					<td th:text="${entrada.EntradaId}"></td> 
					<td th:text="${entrada.EntradaNivel}"></td> 
					<td th:text="${entrada.EntradaLargo}"></td> 
					<td th:text="${entrada.EntradaAncho}"></td> 
					<td>
							<a th:href="@{/entradas/{id}(id = ${entrada.id})}">Show</a> 
					 		<a th:href="@{/entradas/edit/{id}(id = ${entrada.id})}">Edit</a> 
							<a th:href="@{/entradas/delete/{id}(id = ${entrada.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/entradas/{id}(id = ${entrada.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/entradas/edit/{id}(id = ${entrada.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/entradas/delete/{id}(id = ${entrada.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/entradas/new}" class="btn btn-primary">Crear Entrada</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
