<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Casetacomercials</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>CasetacomercialAveria</th> 
					<th>CasetacomercialAlto</th> 
					<th>CasetacomercialLargo</th> 
					<th>CasetacomercialId</th> 
					<th>CasetacomercialNumeracion</th> 
					<th>IdSeccionestacion</th> 
					<th>IdCasetacomercial</th> 
					<th>CasetacomercialImagen</th> 
					<th>CasetacomercialRutaImagen</th> 
					<th>CasetacomercialContaminacion</th> 
					<th>CasetacomercialAveriaestructura</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="casetacomercial : ${listCasetacomercial}">
										<td th:text="${casetacomercial.CasetacomercialAveria}"></td> 
					<td th:text="${casetacomercial.CasetacomercialAlto}"></td> 
					<td th:text="${casetacomercial.CasetacomercialLargo}"></td> 
					<td th:text="${casetacomercial.CasetacomercialId}"></td> 
					<td th:text="${casetacomercial.CasetacomercialNumeracion}"></td> 
					<td th:text="${casetacomercial.IdSeccionestacion}"></td> 
					<td th:text="${casetacomercial.IdCasetacomercial}"></td> 
					<td th:text="${casetacomercial.CasetacomercialImagen}"></td> 
					<td th:text="${casetacomercial.CasetacomercialRutaImagen}"></td> 
					<td th:text="${casetacomercial.CasetacomercialContaminacion}"></td> 
					<td th:text="${casetacomercial.CasetacomercialAveriaestructura}"></td> 
					<td>
							<a th:href="@{/casetacomercials/{id}(id = ${casetacomercial.id})}">Show</a> 
					 		<a th:href="@{/casetacomercials/edit/{id}(id = ${casetacomercial.id})}">Edit</a> 
							<a th:href="@{/casetacomercials/delete/{id}(id = ${casetacomercial.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/casetacomercials/{id}(id = ${casetacomercial.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/casetacomercials/edit/{id}(id = ${casetacomercial.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/casetacomercials/delete/{id}(id = ${casetacomercial.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/casetacomercials/new}" class="btn btn-primary">Crear Casetacomercial</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
