<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Transformador</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="TransformadorCablederretido">TransformadorCablederretido: </label>  
			<span th:text="${transformador.TransformadorCablederretido}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${transformador.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorId">TransformadorId: </label>  
			<span th:text="${transformador.TransformadorId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorPotencia">TransformadorPotencia: </label>  
			<span th:text="${transformador.TransformadorPotencia}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorPrimario">TransformadorPrimario: </label>  
			<span th:text="${transformador.TransformadorPrimario}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorSecundario">TransformadorSecundario: </label>  
			<span th:text="${transformador.TransformadorSecundario}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorUbicacion">TransformadorUbicacion: </label>  
			<span th:text="${transformador.TransformadorUbicacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorAveria">TransformadorAveria: </label>  
			<span th:text="${transformador.TransformadorAveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorGabinetecorrosion">TransformadorGabinetecorrosion: </label>  
			<span th:text="${transformador.TransformadorGabinetecorrosion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorGabinetecorrosionarea">TransformadorGabinetecorrosionarea: </label>  
			<span th:text="${transformador.TransformadorGabinetecorrosionarea}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TransformadorImagen">TransformadorImagen: </label>  
			<span th:text="${transformador.TransformadorImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdTransformador">IdTransformador: </label>  
			<span th:text="${transformador.IdTransformador}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/transformadors}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/transformadors/delete/{id}(id = ${transformador.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/transformadors/edit/{id}(id = ${transformador.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
