<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Fotoelectrica</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="FotoelectricaUbicacion">FotoelectricaUbicacion: </label>  
			<span th:text="${fotoelectrica.FotoelectricaUbicacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdFotoelectrica">IdFotoelectrica: </label>  
			<span th:text="${fotoelectrica.IdFotoelectrica}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${fotoelectrica.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="FotoelectricaId">FotoelectricaId: </label>  
			<span th:text="${fotoelectrica.FotoelectricaId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="FotoelectricaMancha">FotoelectricaMancha: </label>  
			<span th:text="${fotoelectrica.FotoelectricaMancha}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="FotoelectricaFisura">FotoelectricaFisura: </label>  
			<span th:text="${fotoelectrica.FotoelectricaFisura}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/fotoelectricas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/fotoelectricas/delete/{id}(id = ${fotoelectrica.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/fotoelectricas/edit/{id}(id = ${fotoelectrica.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
