<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${informador.id == null}">Agregar Informador</h1>
			<h1 th:if="${informador.id != null}">Editar Informador</h1>
			<hr />

			<form th:action="@{/informadors}" th:method="@{${informador.id == null} ? 'post' : 'put'}" th:object="${informador}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="InformadorId">InformadorId</label>  
					<input id="InformadorId" name="InformadorId" type="text" class="form-control" th:field="*{InformadorId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdInformador">IdInformador</label>  
					<input id="IdInformador" name="IdInformador" type="text" class="form-control" th:field="*{IdInformador}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorCostado">InformadorCostado</label>  
					<input id="InformadorCostado" name="InformadorCostado" type="text" class="form-control" th:field="*{InformadorCostado}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorSoporteaveria">InformadorSoporteaveria</label>  
					<input id="InformadorSoporteaveria" name="InformadorSoporteaveria" type="text" class="form-control" th:field="*{InformadorSoporteaveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorPorcentajeaveria">InformadorPorcentajeaveria</label>  
					<input id="InformadorPorcentajeaveria" name="InformadorPorcentajeaveria" type="text" class="form-control" th:field="*{InformadorPorcentajeaveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorSinservicio">InformadorSinservicio</label>  
					<input id="InformadorSinservicio" name="InformadorSinservicio" type="text" class="form-control" th:field="*{InformadorSinservicio}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorRutaImagen">InformadorRutaImagen</label>  
					<input id="InformadorRutaImagen" name="InformadorRutaImagen" type="text" class="form-control" th:field="*{InformadorRutaImagen}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorImagen">InformadorImagen</label>  
					<input id="InformadorImagen" name="InformadorImagen" type="text" class="form-control" th:field="*{InformadorImagen}" />  
				</div> 
				<div class="form-group"> 
					<label for="InformadorSoporte">InformadorSoporte</label>  
					<input id="InformadorSoporte" name="InformadorSoporte" type="text" class="form-control" th:field="*{InformadorSoporte}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/informadors}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
