<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Informadors</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>InformadorId</th> 
					<th>IdSeccionestacion</th> 
					<th>IdInformador</th> 
					<th>InformadorCostado</th> 
					<th>InformadorSoporteaveria</th> 
					<th>InformadorPorcentajeaveria</th> 
					<th>InformadorSinservicio</th> 
					<th>InformadorRutaImagen</th> 
					<th>InformadorImagen</th> 
					<th>InformadorSoporte</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="informador : ${listInformador}">
										<td th:text="${informador.InformadorId}"></td> 
					<td th:text="${informador.IdSeccionestacion}"></td> 
					<td th:text="${informador.IdInformador}"></td> 
					<td th:text="${informador.InformadorCostado}"></td> 
					<td th:text="${informador.InformadorSoporteaveria}"></td> 
					<td th:text="${informador.InformadorPorcentajeaveria}"></td> 
					<td th:text="${informador.InformadorSinservicio}"></td> 
					<td th:text="${informador.InformadorRutaImagen}"></td> 
					<td th:text="${informador.InformadorImagen}"></td> 
					<td th:text="${informador.InformadorSoporte}"></td> 
					<td>
							<a th:href="@{/informadors/{id}(id = ${informador.id})}">Show</a> 
					 		<a th:href="@{/informadors/edit/{id}(id = ${informador.id})}">Edit</a> 
							<a th:href="@{/informadors/delete/{id}(id = ${informador.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/informadors/{id}(id = ${informador.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/informadors/edit/{id}(id = ${informador.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/informadors/delete/{id}(id = ${informador.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/informadors/new}" class="btn btn-primary">Crear Informador</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
