<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${plataforma.id == null}">Agregar Plataforma</h1>
			<h1 th:if="${plataforma.id != null}">Editar Plataforma</h1>
			<hr />

			<form th:action="@{/plataformas}" th:method="@{${plataforma.id == null} ? 'post' : 'put'}" th:object="${plataforma}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="PlataformaAncho">PlataformaAncho</label>  
					<input id="PlataformaAncho" name="PlataformaAncho" type="text" class="form-control" th:field="*{PlataformaAncho}" />  
				</div> 
				<div class="form-group"> 
					<label for="PlataformaId">PlataformaId</label>  
					<input id="PlataformaId" name="PlataformaId" type="text" class="form-control" th:field="*{PlataformaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="PlataformaEstructura">PlataformaEstructura</label>  
					<input id="PlataformaEstructura" name="PlataformaEstructura" type="text" class="form-control" th:field="*{PlataformaEstructura}" />  
				</div> 
				<div class="form-group"> 
					<label for="PlataformaTipo">PlataformaTipo</label>  
					<input id="PlataformaTipo" name="PlataformaTipo" type="text" class="form-control" th:field="*{PlataformaTipo}" />  
				</div> 
				<div class="form-group"> 
					<label for="PlataformaLargo">PlataformaLargo</label>  
					<input id="PlataformaLargo" name="PlataformaLargo" type="text" class="form-control" th:field="*{PlataformaLargo}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/plataformas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
