<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Plataformas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>PlataformaAncho</th> 
					<th>PlataformaId</th> 
					<th>PlataformaEstructura</th> 
					<th>PlataformaTipo</th> 
					<th>PlataformaLargo</th> 
					<th>IdPlataforma</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="plataforma : ${listPlataforma}">
										<td th:text="${plataforma.PlataformaAncho}"></td> 
					<td th:text="${plataforma.PlataformaId}"></td> 
					<td th:text="${plataforma.PlataformaEstructura}"></td> 
					<td th:text="${plataforma.PlataformaTipo}"></td> 
					<td th:text="${plataforma.PlataformaLargo}"></td> 
					<td th:text="${plataforma.IdPlataforma}"></td> 
					<td>
							<a th:href="@{/plataformas/{id}(id = ${plataforma.id})}">Show</a> 
					 		<a th:href="@{/plataformas/edit/{id}(id = ${plataforma.id})}">Edit</a> 
							<a th:href="@{/plataformas/delete/{id}(id = ${plataforma.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/plataformas/{id}(id = ${plataforma.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/plataformas/edit/{id}(id = ${plataforma.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/plataformas/delete/{id}(id = ${plataforma.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/plataformas/new}" class="btn btn-primary">Crear Plataforma</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
