<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Cubierta</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="CubiertaAncholucemario">CubiertaAncholucemario: </label>  
			<span th:text="${cubierta.CubiertaAncholucemario}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdCubierta">IdCubierta: </label>  
			<span th:text="${cubierta.IdCubierta}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${cubierta.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertaLucemario">CubiertaLucemario: </label>  
			<span th:text="${cubierta.CubiertaLucemario}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertaAncho">CubiertaAncho: </label>  
			<span th:text="${cubierta.CubiertaAncho}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertaLargo">CubiertaLargo: </label>  
			<span th:text="${cubierta.CubiertaLargo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertaLargolucemario">CubiertaLargolucemario: </label>  
			<span th:text="${cubierta.CubiertaLargolucemario}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertaAveria">CubiertaAveria: </label>  
			<span th:text="${cubierta.CubiertaAveria}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/cubiertas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/cubiertas/delete/{id}(id = ${cubierta.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/cubiertas/edit/{id}(id = ${cubierta.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
