@import "../img/icons/essential-set/font/flaticon.css";
@import "_mixins.scss";
@import "_keyframes.scss";

@include font-face('Futura light bt', '../fonts/futura light bt', null, null, 'ttf');
@include font-face('Futura condensed bold', '../fonts/Futura Bold font', 'bold', null, 'ttf');


/* ---------------------------------------------------
	VARIABLES
----------------------------------------------------- */

$primary-font: 'Futura light bt';
$secondary-font: 'Futura condensed bold';

/* Bootstrap customization */
$white:    #fff !default;
$white-100: #fafafa;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$gray-light: #6F6F6E;
$gray-background: #f2f2f2;
$gray-dark: #333333;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #c60c30 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary: $red;
$secondary: $gray-dark;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-light;
$dark: $gray-dark;

/* ---------------------------------------------------
	BOOTSTRAP
----------------------------------------------------- */

@import "../node_modules/bootstrap/scss/bootstrap";

/* ---------------------------------------------------
	MAIN STYLES
----------------------------------------------------- */

body, p, td, label, input, th {
	font-family: $primary-font, sans-serif;
	color: $gray-light;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $secondary-font, sans-serif;
}

h2, h3, h4, h5 {
	color: $gray-light;
}

h1, .h1 {
	color: $gray-dark;
	font-size: 1.5rem;
}

h2, .h2 {
	font-size: 1.4rem;
}

h3, .h3 {
	font-size: 1.3rem;
}

h4, .h4 {
	font-size: 1.2rem;
}

h5, .h5 {
	font-size: 1rem;
}

body {
	background: $gray-background;
}

footer {
	margin-top: 1.5rem;
	animation: 1s fade-in ease-in-out;
	
	p {
		font-size: 0.7rem;
		color: $white;
		line-height: 0.7rem;
		margin-bottom: 0.3rem;
	}
}

a {
	i {
		margin-right: 10px;
		margin-left: 10px;
	}
}
a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

figure {
	margin: 0;
}

[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	margin: 0;
}

.btn {
	font-family: $secondary-font;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 0.5s;

	&:hover {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

}

.btn-primary {
	background: $primary;
	color: $white;
	border-color: $primary;

	&:hover {
		background: $secondary;
		border-color: $secondary;
	}
}

.btn-secondary {
	background-color: $white;
	color: $primary;
	border-color: $primary;
	
	&:hover {
		background: $secondary;
		color: $white;
		border-color: $secondary;
	}
}

/* ---------------------------------------------------
	NAVBAR STYLE
----------------------------------------------------- */

#sidebarCollapse {
	border-radius: 100px;
	height: 50px;
	width: 50px;
	margin-left: -25px;
	z-index: 1000;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: 0.75s;
	padding: 0;
}

.navbar {
	background: $gray-900;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	padding: 0;

	.container-fluid {
		padding: 0;
		align-items: stretch;
	}
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

#user-button {
	border: none;
	padding-left: 20px;
	padding-right: 50px;
	background: transparent;
	cursor: pointer;
	transition: 0.5s;
	animation: 1s fade-in ease-in-out;

	&:hover {
		background: $primary;
		color: $white;

		i {
			color: $white;
		}
	}

	i {
		color: $primary;
		margin-right: 10px;
		transition: 0.5s;
	}
}

/* ---------------------------------------------------
	SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 280px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: $black;
	color: $white;
	transition: all 0.3s;

	&.active {
		margin-left: -280px;
	}
	.sidebar-header {
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: 1s fade-in ease-in-out;
		animation-fill-mode: forwards;

		.logo {
			border-radius: 100%;
			height: 100px;
			width: 100px;
			overflow: hidden;
			padding: 10px;
			background: $white;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				max-width: 100%;
			}
		}

		h1 {
			animation-duration:2s;
		}
	}

	ul.components {
		padding: 0;
		animation: 1s fade-in ease-in-out;
	}

	ul p {
		color: #fff;
		padding: 10px;
	}

	ul li a {
		padding: 10px;
		font-size: 1rem;
		display: block;
	}

	ul li a:hover {
		color: $primary;
		background: $gray-background;

		i {
			color: $primary;
		}
	}

	ul li.active>a,
	a[aria-expanded="true"] {
		color: #fff;
		background: theme-color-level(primary, 2);

		i {
			color: $white;
		}
	}

	a {
		i {
			color: $primary;
		}
	}

	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		background: $primary;

		i {
			color: $white!important;
		}
	}
}



a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}



ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

// a.download {
// 	background: #fff;
// 	color: #7386D5;
// }

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

/* ---------------------------------------------------
	CONTENT STYLE
----------------------------------------------------- */

#content {
	width: calc(100% - 280px);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../img/styles/main-background.png');
	background-size: 100%;

	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		width: 300px;
		height: 60px;
		background-image: url("../img/styles/bus.png");
		background-size: 100%;
		background-repeat: no-repeat;
		animation: run 2s ease-in-out;
		animation-fill-mode: forwards;
	}

	&.active {
		width: 100%;

		#sidebarCollapse {
			margin-left: 15px;
		}
	}
}

#main-content {
	margin: 1.5rem;
	padding: 1rem;
	animation: 1s fade-in ease-in-out;
}

a.action {
	color: $secondary;
	transition: 0.5s;

	&:hover {
		color: $primary;
	}
}

.header {
	h1, h2, h3, h4, h5, p {
		line-height: 1.5rem;
		font-weight: bold;
		padding: 0.75rem;
		margin: 0;
	}
}
/* ---------------------------------------------------
	MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -280px;
		.active {
			margin-left: 0;
		}
	}
	
	#content {
		width: 100%;

		&.active {
			width: calc(100% - 280px);

			#sidebarCollapse {
				margin-left: 0px;
			}
		}
	}

	#sidebarCollapse {
		span {
			display: none;
		}
	}
}