<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Grifos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>GrifoId</th> 
					<th>GrifoCostado</th> 
					<th>GrifoAveria</th> 
					<th>GrifoCorrosion</th> 
					<th>GrifoEscapeagua</th> 
					<th>GrifoSinagua</th> 
					<th>GrifoFaltantes</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="grifo : ${listGrifo}">
										<td th:text="${grifo.GrifoId}"></td> 
					<td th:text="${grifo.GrifoCostado}"></td> 
					<td th:text="${grifo.GrifoAveria}"></td> 
					<td th:text="${grifo.GrifoCorrosion}"></td> 
					<td th:text="${grifo.GrifoEscapeagua}"></td> 
					<td th:text="${grifo.GrifoSinagua}"></td> 
					<td th:text="${grifo.GrifoFaltantes}"></td> 
					<td th:text="${grifo.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/grifos/{id}(id = ${grifo.id})}">Show</a> 
					 		<a th:href="@{/grifos/edit/{id}(id = ${grifo.id})}">Edit</a> 
							<a th:href="@{/grifos/delete/{id}(id = ${grifo.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/grifos/{id}(id = ${grifo.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/grifos/edit/{id}(id = ${grifo.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/grifos/delete/{id}(id = ${grifo.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/grifos/new}" class="btn btn-primary">Crear Grifo</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
