<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Estaciones</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
					<th>Código</th>
					<th>Distribución</th> 
					<th>Nombre</th>
					<th>Fase</th> 
					<th>Estado</th> 
					<th>Acción</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="estacion : ${listEstacion}">
					<td th:text="${estacion.EstacionCodigo}"></td> 
					<td th:text="${estacion.EstacionDistribucion}"></td> 
					<td th:text="${estacion.EstacionNombre}"></td> 
					<td th:text="${estacion.EstacionFase}"></td> 
					<td th:text="${estacion.EstacionEstado}"></td>
					<td>
						<a class="action" th:href="@{/estaciones/{id}(id = ${estacion.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/estaciones/edit/{id}(id = ${estacion.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/estaciones/delete/{id}(id = ${estacion.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/estaciones/new}" class="btn btn-primary">Crear Estacion</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
