<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Transicions</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdTransicion</th> 
					<th>TransicionId</th> 
					<th>TransicionNumero</th> 
					<th>TransicionLargo</th> 
					<th>TransicionAncho</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="transicion : ${listTransicion}">
										<td th:text="${transicion.IdTransicion}"></td> 
					<td th:text="${transicion.TransicionId}"></td> 
					<td th:text="${transicion.TransicionNumero}"></td> 
					<td th:text="${transicion.TransicionLargo}"></td> 
					<td th:text="${transicion.TransicionAncho}"></td> 
					<td>
							<a th:href="@{/transicions/{id}(id = ${transicion.id})}">Show</a> 
					 		<a th:href="@{/transicions/edit/{id}(id = ${transicion.id})}">Edit</a> 
							<a th:href="@{/transicions/delete/{id}(id = ${transicion.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/transicions/{id}(id = ${transicion.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/transicions/edit/{id}(id = ${transicion.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/transicions/delete/{id}(id = ${transicion.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/transicions/new}" class="btn btn-primary">Crear Transicion</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
