<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Incendios</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IncendioHachaperdida</th> 
					<th>IncendioMartilloroto</th> 
					<th>IncendioMartilloperdido</th> 
					<th>IncendioVidrioroto</th> 
					<th>IncendioId</th> 
					<th>IncendioAlto</th> 
					<th>IncendioAncho</th> 
					<th>IncendioCostado</th> 
					<th>IncendioTipo</th> 
					<th>IncendioExtintorvencido</th> 
					<th>IncendioExtintorperdido</th> 
					<th>IncendioManguerarota</th> 
					<th>IncendioMangueraperdida</th> 
					<th>IncendioHacharota</th> 
					<th>IncendioImagen</th> 
					<th>IncendioRutaImagen</th> 
					<th>IncendioAgua</th> 
					<th>IncendioVidriofaltante</th> 
					<th>IdIncendio</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="incendio : ${listIncendio}">
										<td th:text="${incendio.IncendioHachaperdida}"></td> 
					<td th:text="${incendio.IncendioMartilloroto}"></td> 
					<td th:text="${incendio.IncendioMartilloperdido}"></td> 
					<td th:text="${incendio.IncendioVidrioroto}"></td> 
					<td th:text="${incendio.IncendioId}"></td> 
					<td th:text="${incendio.IncendioAlto}"></td> 
					<td th:text="${incendio.IncendioAncho}"></td> 
					<td th:text="${incendio.IncendioCostado}"></td> 
					<td th:text="${incendio.IncendioTipo}"></td> 
					<td th:text="${incendio.IncendioExtintorvencido}"></td> 
					<td th:text="${incendio.IncendioExtintorperdido}"></td> 
					<td th:text="${incendio.IncendioManguerarota}"></td> 
					<td th:text="${incendio.IncendioMangueraperdida}"></td> 
					<td th:text="${incendio.IncendioHacharota}"></td> 
					<td th:text="${incendio.IncendioImagen}"></td> 
					<td th:text="${incendio.IncendioRutaImagen}"></td> 
					<td th:text="${incendio.IncendioAgua}"></td> 
					<td th:text="${incendio.IncendioVidriofaltante}"></td> 
					<td th:text="${incendio.IdIncendio}"></td> 
					<td th:text="${incendio.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/incendios/{id}(id = ${incendio.id})}">Show</a> 
					 		<a th:href="@{/incendios/edit/{id}(id = ${incendio.id})}">Edit</a> 
							<a th:href="@{/incendios/delete/{id}(id = ${incendio.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/incendios/{id}(id = ${incendio.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/incendios/edit/{id}(id = ${incendio.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/incendios/delete/{id}(id = ${incendio.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/incendios/new}" class="btn btn-primary">Crear Incendio</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
