<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Planta</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="PlantaPotencia">PlantaPotencia: </label>  
			<span th:text="${planta.PlantaPotencia}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PlantaImagen">PlantaImagen: </label>  
			<span th:text="${planta.PlantaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PlantaRutaImagen">PlantaRutaImagen: </label>  
			<span th:text="${planta.PlantaRutaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PlantaUbicacion">PlantaUbicacion: </label>  
			<span th:text="${planta.PlantaUbicacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PlantaTension">PlantaTension: </label>  
			<span th:text="${planta.PlantaTension}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="PlantaId">PlantaId: </label>  
			<span th:text="${planta.PlantaId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${planta.IdSeccionestacion}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/plantas}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/plantas/delete/{id}(id = ${planta.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/plantas/edit/{id}(id = ${planta.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
