<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${ventana.id == null}">Agregar Ventana</h1>
			<h1 th:if="${ventana.id != null}">Editar Ventana</h1>
			<hr />

			<form th:action="@{/ventanas}" th:method="@{${ventana.id == null} ? 'post' : 'put'}" th:object="${ventana}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="VentanaDesaparicion">VentanaDesaparicion</label>  
					<input id="VentanaDesaparicion" name="VentanaDesaparicion" type="text" class="form-control" th:field="*{VentanaDesaparicion}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaRayones">VentanaRayones</label>  
					<input id="VentanaRayones" name="VentanaRayones" type="text" class="form-control" th:field="*{VentanaRayones}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaContaminacion">VentanaContaminacion</label>  
					<input id="VentanaContaminacion" name="VentanaContaminacion" type="text" class="form-control" th:field="*{VentanaContaminacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaCierre">VentanaCierre</label>  
					<input id="VentanaCierre" name="VentanaCierre" type="text" class="form-control" th:field="*{VentanaCierre}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaRejarota">VentanaRejarota</label>  
					<input id="VentanaRejarota" name="VentanaRejarota" type="text" class="form-control" th:field="*{VentanaRejarota}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaFisura">VentanaFisura</label>  
					<input id="VentanaFisura" name="VentanaFisura" type="text" class="form-control" th:field="*{VentanaFisura}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaAncho">VentanaAncho</label>  
					<input id="VentanaAncho" name="VentanaAncho" type="text" class="form-control" th:field="*{VentanaAncho}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaAlto">VentanaAlto</label>  
					<input id="VentanaAlto" name="VentanaAlto" type="text" class="form-control" th:field="*{VentanaAlto}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaCostado">VentanaCostado</label>  
					<input id="VentanaCostado" name="VentanaCostado" type="text" class="form-control" th:field="*{VentanaCostado}" />  
				</div> 
				<div class="form-group"> 
					<label for="VentanaId">VentanaId</label>  
					<input id="VentanaId" name="VentanaId" type="text" class="form-control" th:field="*{VentanaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/ventanas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
