<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ventanas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdVentana</th> 
					<th>VentanaDesaparicion</th> 
					<th>VentanaRayones</th> 
					<th>VentanaContaminacion</th> 
					<th>VentanaCierre</th> 
					<th>VentanaRejarota</th> 
					<th>VentanaFisura</th> 
					<th>VentanaAncho</th> 
					<th>VentanaAlto</th> 
					<th>VentanaCostado</th> 
					<th>VentanaId</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="ventana : ${listVentana}">
										<td th:text="${ventana.IdVentana}"></td> 
					<td th:text="${ventana.VentanaDesaparicion}"></td> 
					<td th:text="${ventana.VentanaRayones}"></td> 
					<td th:text="${ventana.VentanaContaminacion}"></td> 
					<td th:text="${ventana.VentanaCierre}"></td> 
					<td th:text="${ventana.VentanaRejarota}"></td> 
					<td th:text="${ventana.VentanaFisura}"></td> 
					<td th:text="${ventana.VentanaAncho}"></td> 
					<td th:text="${ventana.VentanaAlto}"></td> 
					<td th:text="${ventana.VentanaCostado}"></td> 
					<td th:text="${ventana.VentanaId}"></td> 
					<td th:text="${ventana.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/ventanas/{id}(id = ${ventana.id})}">Show</a> 
					 		<a th:href="@{/ventanas/edit/{id}(id = ${ventana.id})}">Edit</a> 
							<a th:href="@{/ventanas/delete/{id}(id = ${ventana.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/ventanas/{id}(id = ${ventana.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/ventanas/edit/{id}(id = ${ventana.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/ventanas/delete/{id}(id = ${ventana.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/ventanas/new}" class="btn btn-primary">Crear Ventana</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
