<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${cono.id == null}">Agregar Cono</h1>
			<h1 th:if="${cono.id != null}">Editar Cono</h1>
			<hr />

			<form th:action="@{/conos}" th:method="@{${cono.id == null} ? 'post' : 'put'}" th:object="${cono}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="ConoAveria">ConoAveria</label>  
					<input id="ConoAveria" name="ConoAveria" type="text" class="form-control" th:field="*{ConoAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="ConoHayconos">ConoHayconos</label>  
					<input id="ConoHayconos" name="ConoHayconos" type="text" class="form-control" th:field="*{ConoHayconos}" />  
				</div> 
				<div class="form-group"> 
					<label for="ConoPorcentajeaveria">ConoPorcentajeaveria</label>  
					<input id="ConoPorcentajeaveria" name="ConoPorcentajeaveria" type="text" class="form-control" th:field="*{ConoPorcentajeaveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="ConoId">ConoId</label>  
					<input id="ConoId" name="ConoId" type="text" class="form-control" th:field="*{ConoId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/conos}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
