<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Totems</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>TotemImagen</th> 
					<th>TotemRutaImagen</th> 
					<th>TotemDesprendimiento</th> 
					<th>TotemDeterioroPinturaepoxica</th> 
					<th>TotemPerdidaLegibilidad</th> 
					<th>TotemContaminacion</th> 
					<th>TotemCorrosion</th> 
					<th>TotemAbolladura</th> 
					<th>TotemPorcentajeaveria</th> 
					<th>TotemAveria</th> 
					<th>TotemLargo</th> 
					<th>TotemAlto</th> 
					<th>TotemAncho</th> 
					<th>TotemId</th> 
					<th>IdSeccionestacion</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="totem : ${listTotem}">
										<td th:text="${totem.TotemImagen}"></td> 
					<td th:text="${totem.TotemRutaImagen}"></td> 
					<td th:text="${totem.TotemDesprendimiento}"></td> 
					<td th:text="${totem.TotemDeterioroPinturaepoxica}"></td> 
					<td th:text="${totem.TotemPerdidaLegibilidad}"></td> 
					<td th:text="${totem.TotemContaminacion}"></td> 
					<td th:text="${totem.TotemCorrosion}"></td> 
					<td th:text="${totem.TotemAbolladura}"></td> 
					<td th:text="${totem.TotemPorcentajeaveria}"></td> 
					<td th:text="${totem.TotemAveria}"></td> 
					<td th:text="${totem.TotemLargo}"></td> 
					<td th:text="${totem.TotemAlto}"></td> 
					<td th:text="${totem.TotemAncho}"></td> 
					<td th:text="${totem.TotemId}"></td> 
					<td th:text="${totem.IdSeccionestacion}"></td> 
					<td>
							<a th:href="@{/totems/{id}(id = ${totem.id})}">Show</a> 
					 		<a th:href="@{/totems/edit/{id}(id = ${totem.id})}">Edit</a> 
							<a th:href="@{/totems/delete/{id}(id = ${totem.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/totems/{id}(id = ${totem.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/totems/edit/{id}(id = ${totem.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/totems/delete/{id}(id = ${totem.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/totems/new}" class="btn btn-primary">Crear Totem</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
