<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Totem</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="TotemImagen">TotemImagen: </label>  
			<span th:text="${totem.TotemImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemRutaImagen">TotemRutaImagen: </label>  
			<span th:text="${totem.TotemRutaImagen}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemDesprendimiento">TotemDesprendimiento: </label>  
			<span th:text="${totem.TotemDesprendimiento}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemDeterioroPinturaepoxica">TotemDeterioroPinturaepoxica: </label>  
			<span th:text="${totem.TotemDeterioroPinturaepoxica}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemPerdidaLegibilidad">TotemPerdidaLegibilidad: </label>  
			<span th:text="${totem.TotemPerdidaLegibilidad}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemContaminacion">TotemContaminacion: </label>  
			<span th:text="${totem.TotemContaminacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemCorrosion">TotemCorrosion: </label>  
			<span th:text="${totem.TotemCorrosion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemAbolladura">TotemAbolladura: </label>  
			<span th:text="${totem.TotemAbolladura}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemPorcentajeaveria">TotemPorcentajeaveria: </label>  
			<span th:text="${totem.TotemPorcentajeaveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemAveria">TotemAveria: </label>  
			<span th:text="${totem.TotemAveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemLargo">TotemLargo: </label>  
			<span th:text="${totem.TotemLargo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemAlto">TotemAlto: </label>  
			<span th:text="${totem.TotemAlto}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemAncho">TotemAncho: </label>  
			<span th:text="${totem.TotemAncho}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="TotemId">TotemId: </label>  
			<span th:text="${totem.TotemId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${totem.IdSeccionestacion}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/totems}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/totems/delete/{id}(id = ${totem.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/totems/edit/{id}(id = ${totem.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
