<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${tanquecombustible.id == null}">Agregar Tanquecombustible</h1>
			<h1 th:if="${tanquecombustible.id != null}">Editar Tanquecombustible</h1>
			<hr />

			<form th:action="@{/tanquecombustibles}" th:method="@{${tanquecombustible.id == null} ? 'post' : 'put'}" th:object="${tanquecombustible}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="TanquecombustibleId">TanquecombustibleId</label>  
					<input id="TanquecombustibleId" name="TanquecombustibleId" type="text" class="form-control" th:field="*{TanquecombustibleId}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdTanquecombustible">IdTanquecombustible</label>  
					<input id="IdTanquecombustible" name="IdTanquecombustible" type="text" class="form-control" th:field="*{IdTanquecombustible}" />  
				</div> 
				<div class="form-group"> 
					<label for="TanquecombustibleUbicacion">TanquecombustibleUbicacion</label>  
					<input id="TanquecombustibleUbicacion" name="TanquecombustibleUbicacion" type="text" class="form-control" th:field="*{TanquecombustibleUbicacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="TanquecombustibleCapacidad">TanquecombustibleCapacidad</label>  
					<input id="TanquecombustibleCapacidad" name="TanquecombustibleCapacidad" type="text" class="form-control" th:field="*{TanquecombustibleCapacidad}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/tanquecombustibles}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
