<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Tomas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>TomaDestruido</th> 
					<th>IdSeccionestacion</th> 
					<th>TomaNumero</th> 
					<th>TomaTipo</th> 
					<th>TomaCostado</th> 
					<th>TomaAveria</th> 
					<th>TomaTension</th> 
					<th>TomaTapafalta</th> 
					<th>TomaPorcentajetapafalta</th> 
					<th>TomaSinservicio</th> 
					<th>TomaCableado</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="toma : ${listToma}">
										<td th:text="${toma.TomaDestruido}"></td> 
					<td th:text="${toma.IdSeccionestacion}"></td> 
					<td th:text="${toma.TomaNumero}"></td> 
					<td th:text="${toma.TomaTipo}"></td> 
					<td th:text="${toma.TomaCostado}"></td> 
					<td th:text="${toma.TomaAveria}"></td> 
					<td th:text="${toma.TomaTension}"></td> 
					<td th:text="${toma.TomaTapafalta}"></td> 
					<td th:text="${toma.TomaPorcentajetapafalta}"></td> 
					<td th:text="${toma.TomaSinservicio}"></td> 
					<td th:text="${toma.TomaCableado}"></td> 
					<td>
							<a th:href="@{/tomas/{id}(id = ${toma.id})}">Show</a> 
					 		<a th:href="@{/tomas/edit/{id}(id = ${toma.id})}">Edit</a> 
							<a th:href="@{/tomas/delete/{id}(id = ${toma.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/tomas/{id}(id = ${toma.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/tomas/edit/{id}(id = ${toma.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/tomas/delete/{id}(id = ${toma.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/tomas/new}" class="btn btn-primary">Crear Toma</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
