<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${cubiertatipo.id == null}">Agregar Cubiertatipo</h1>
			<h1 th:if="${cubiertatipo.id != null}">Editar Cubiertatipo</h1>
			<hr />

			<form th:action="@{/cubiertatipos}" th:method="@{${cubiertatipo.id == null} ? 'post' : 'put'}" th:object="${cubiertatipo}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="IdCubiertatipo">IdCubiertatipo</label>  
					<input id="IdCubiertatipo" name="IdCubiertatipo" type="text" class="form-control" th:field="*{IdCubiertatipo}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdCubierta">IdCubierta</label>  
					<input id="IdCubierta" name="IdCubierta" type="text" class="form-control" th:field="*{IdCubierta}" />  
				</div> 
				<div class="form-group"> 
					<label for="CubiertatipoMaterial">CubiertatipoMaterial</label>  
					<input id="CubiertatipoMaterial" name="CubiertatipoMaterial" type="text" class="form-control" th:field="*{CubiertatipoMaterial}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/cubiertatipos}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
