<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Cubiertatipo</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="IdCubiertatipo">IdCubiertatipo: </label>  
			<span th:text="${cubiertatipo.IdCubiertatipo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdCubierta">IdCubierta: </label>  
			<span th:text="${cubiertatipo.IdCubierta}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="CubiertatipoMaterial">CubiertatipoMaterial: </label>  
			<span th:text="${cubiertatipo.CubiertatipoMaterial}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/cubiertatipos}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/cubiertatipos/delete/{id}(id = ${cubiertatipo.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/cubiertatipos/edit/{id}(id = ${cubiertatipo.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
