<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Edificios</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdEdificio</th> 
					<th>EdificioId</th> 
					<th>EdificioAncho</th> 
					<th>EdificioLargo</th> 
					<th>EdificioNivel</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="edificio : ${listEdificio}">
										<td th:text="${edificio.IdEdificio}"></td> 
					<td th:text="${edificio.EdificioId}"></td> 
					<td th:text="${edificio.EdificioAncho}"></td> 
					<td th:text="${edificio.EdificioLargo}"></td> 
					<td th:text="${edificio.EdificioNivel}"></td> 
					<td>
							<a th:href="@{/edificios/{id}(id = ${edificio.id})}">Show</a> 
					 		<a th:href="@{/edificios/edit/{id}(id = ${edificio.id})}">Edit</a> 
							<a th:href="@{/edificios/delete/{id}(id = ${edificio.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/edificios/{id}(id = ${edificio.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/edificios/edit/{id}(id = ${edificio.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/edificios/delete/{id}(id = ${edificio.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/edificios/new}" class="btn btn-primary">Crear Edificio</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
