<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${rampa.id == null}">Agregar Rampa</h1>
			<h1 th:if="${rampa.id != null}">Editar Rampa</h1>
			<hr />

			<form th:action="@{/rampas}" th:method="@{${rampa.id == null} ? 'post' : 'put'}" th:object="${rampa}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="IdRampa">IdRampa</label>  
					<input id="IdRampa" name="IdRampa" type="text" class="form-control" th:field="*{IdRampa}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="RampaId">RampaId</label>  
					<input id="RampaId" name="RampaId" type="text" class="form-control" th:field="*{RampaId}" />  
				</div> 
				<div class="form-group"> 
					<label for="RampaLongitud">RampaLongitud</label>  
					<input id="RampaLongitud" name="RampaLongitud" type="text" class="form-control" th:field="*{RampaLongitud}" />  
				</div> 
				<div class="form-group"> 
					<label for="RampaArea">RampaArea</label>  
					<input id="RampaArea" name="RampaArea" type="text" class="form-control" th:field="*{RampaArea}" />  
				</div> 
				<div class="form-group"> 
					<label for="RampaAveria">RampaAveria</label>  
					<input id="RampaAveria" name="RampaAveria" type="text" class="form-control" th:field="*{RampaAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="RampaPorcentajeaveria">RampaPorcentajeaveria</label>  
					<input id="RampaPorcentajeaveria" name="RampaPorcentajeaveria" type="text" class="form-control" th:field="*{RampaPorcentajeaveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdMaterialAveria">IdMaterialAveria</label>  
					<input id="IdMaterialAveria" name="IdMaterialAveria" type="text" class="form-control" th:field="*{IdMaterialAveria}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/rampas}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
