<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${senale.id == null}">Agregar Senale</h1>
			<h1 th:if="${senale.id != null}">Editar Senale</h1>
			<hr />

			<form th:action="@{/senales}" th:method="@{${senale.id == null} ? 'post' : 'put'}" th:object="${senale}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="SenaleIlegible">SenaleIlegible</label>  
					<input id="SenaleIlegible" name="SenaleIlegible" type="text" class="form-control" th:field="*{SenaleIlegible}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenaleId">SenaleId</label>  
					<input id="SenaleId" name="SenaleId" type="text" class="form-control" th:field="*{SenaleId}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenaleTipo">SenaleTipo</label>  
					<input id="SenaleTipo" name="SenaleTipo" type="text" class="form-control" th:field="*{SenaleTipo}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenaleCostado">SenaleCostado</label>  
					<input id="SenaleCostado" name="SenaleCostado" type="text" class="form-control" th:field="*{SenaleCostado}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenaleTipologia">SenaleTipologia</label>  
					<input id="SenaleTipologia" name="SenaleTipologia" type="text" class="form-control" th:field="*{SenaleTipologia}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenaleAveria">SenaleAveria</label>  
					<input id="SenaleAveria" name="SenaleAveria" type="text" class="form-control" th:field="*{SenaleAveria}" />  
				</div> 
				<div class="form-group"> 
					<label for="SenalePerdida">SenalePerdida</label>  
					<input id="SenalePerdida" name="SenalePerdida" type="text" class="form-control" th:field="*{SenalePerdida}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/senales}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
