<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Lectortarjetas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>LectortarjetaImagen</th> 
					<th>LectortarjetaRutaImagen</th> 
					<th>LectortarjetaFueraservicio</th> 
					<th>LectortarjetaCostado</th> 
					<th>LectortarjetaId</th> 
					<th>IdSeccionestacion</th> 
					<th>IdLectortarjeta</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="lectortarjeta : ${listLectortarjeta}">
										<td th:text="${lectortarjeta.LectortarjetaImagen}"></td> 
					<td th:text="${lectortarjeta.LectortarjetaRutaImagen}"></td> 
					<td th:text="${lectortarjeta.LectortarjetaFueraservicio}"></td> 
					<td th:text="${lectortarjeta.LectortarjetaCostado}"></td> 
					<td th:text="${lectortarjeta.LectortarjetaId}"></td> 
					<td th:text="${lectortarjeta.IdSeccionestacion}"></td> 
					<td th:text="${lectortarjeta.IdLectortarjeta}"></td> 
					<td>
							<a th:href="@{/lectortarjetas/{id}(id = ${lectortarjeta.id})}">Show</a> 
					 		<a th:href="@{/lectortarjetas/edit/{id}(id = ${lectortarjeta.id})}">Edit</a> 
							<a th:href="@{/lectortarjetas/delete/{id}(id = ${lectortarjeta.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/lectortarjetas/{id}(id = ${lectortarjeta.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/lectortarjetas/edit/{id}(id = ${lectortarjeta.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/lectortarjetas/delete/{id}(id = ${lectortarjeta.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/lectortarjetas/new}" class="btn btn-primary">Crear Lectortarjeta</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
