<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1 th:if="${acondicionado.id == null}">Agregar Acondicionado</h1>
			<h1 th:if="${acondicionado.id != null}">Editar Acondicionado</h1>
			<hr />

			<form th:action="@{/acondicionados}" th:method="@{${acondicionado.id == null} ? 'post' : 'put'}" th:object="${acondicionado}">
				<div class="row justify-content-center">
					<div class="col-8">
						<input type="hidden" th:field="*{id}" />

										<div class="form-group"> 
					<label for="IdAcondicionado">IdAcondicionado</label>  
					<input id="IdAcondicionado" name="IdAcondicionado" type="text" class="form-control" th:field="*{IdAcondicionado}" />  
				</div> 
				<div class="form-group"> 
					<label for="AcondicionadoId">AcondicionadoId</label>  
					<input id="AcondicionadoId" name="AcondicionadoId" type="text" class="form-control" th:field="*{AcondicionadoId}" />  
				</div> 
				<div class="form-group"> 
					<label for="AcondicionadoUbicacion">AcondicionadoUbicacion</label>  
					<input id="AcondicionadoUbicacion" name="AcondicionadoUbicacion" type="text" class="form-control" th:field="*{AcondicionadoUbicacion}" />  
				</div> 
				<div class="form-group"> 
					<label for="IdSeccionestacion">IdSeccionestacion</label>  
					<input id="IdSeccionestacion" name="IdSeccionestacion" type="text" class="form-control" th:field="*{IdSeccionestacion}" />  
				</div> 

					</div>

					<div class="col-12 mt-3">
						<div class="d-flex justify-content-end">
							<a th:href="@{/acondicionados}" class="btn btn-secondary mr-2">Atrás</a>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</form>

		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
