<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Garitas</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>GaritaAncho</th> 
					<th>IdSeccionestacion</th> 
					<th>IdGarita</th> 
					<th>GaritaObservaciones</th> 
					<th>GaritaId</th> 
					<th>GaritaArea</th> 
					<th>GaritaTipo</th> 
					<th>GaritaLargo</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="garita : ${listGarita}">
										<td th:text="${garita.GaritaAncho}"></td> 
					<td th:text="${garita.IdSeccionestacion}"></td> 
					<td th:text="${garita.IdGarita}"></td> 
					<td th:text="${garita.GaritaObservaciones}"></td> 
					<td th:text="${garita.GaritaId}"></td> 
					<td th:text="${garita.GaritaArea}"></td> 
					<td th:text="${garita.GaritaTipo}"></td> 
					<td th:text="${garita.GaritaLargo}"></td> 
					<td>
							<a th:href="@{/garitas/{id}(id = ${garita.id})}">Show</a> 
					 		<a th:href="@{/garitas/edit/{id}(id = ${garita.id})}">Edit</a> 
							<a th:href="@{/garitas/delete/{id}(id = ${garita.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/garitas/{id}(id = ${garita.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/garitas/edit/{id}(id = ${garita.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/garitas/delete/{id}(id = ${garita.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/garitas/new}" class="btn btn-primary">Crear Garita</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
