<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Conexion</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="ConexionElevacion">ConexionElevacion: </label>  
			<span th:text="${conexion.ConexionElevacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ConexionId">ConexionId: </label>  
			<span th:text="${conexion.ConexionId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ConexionNumero">ConexionNumero: </label>  
			<span th:text="${conexion.ConexionNumero}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ConexionTipo">ConexionTipo: </label>  
			<span th:text="${conexion.ConexionTipo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ConexionLargo">ConexionLargo: </label>  
			<span th:text="${conexion.ConexionLargo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="ConexionAncho">ConexionAncho: </label>  
			<span th:text="${conexion.ConexionAncho}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/conexions}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/conexions/delete/{id}(id = ${conexion.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/conexions/edit/{id}(id = ${conexion.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
