<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Semaforos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>SemaforoPorcentajeaveria</th> 
					<th>SemaforoSinservicio</th> 
					<th>SemaforoPerdida</th> 
					<th>IdSemaforo</th> 
					<th>IdSeccionestacion</th> 
					<th>SemaforoId</th> 
					<th>SemaforoCantidad</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="semaforo : ${listSemaforo}">
										<td th:text="${semaforo.SemaforoPorcentajeaveria}"></td> 
					<td th:text="${semaforo.SemaforoSinservicio}"></td> 
					<td th:text="${semaforo.SemaforoPerdida}"></td> 
					<td th:text="${semaforo.IdSemaforo}"></td> 
					<td th:text="${semaforo.IdSeccionestacion}"></td> 
					<td th:text="${semaforo.SemaforoId}"></td> 
					<td th:text="${semaforo.SemaforoCantidad}"></td> 
					<td>
							<a th:href="@{/semaforos/{id}(id = ${semaforo.id})}">Show</a> 
					 		<a th:href="@{/semaforos/edit/{id}(id = ${semaforo.id})}">Edit</a> 
							<a th:href="@{/semaforos/delete/{id}(id = ${semaforo.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/semaforos/{id}(id = ${semaforo.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/semaforos/edit/{id}(id = ${semaforo.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/semaforos/delete/{id}(id = ${semaforo.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/semaforos/new}" class="btn btn-primary">Crear Semaforo</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
