<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ver Semaforo</h1>
			<hr />

			<div class="row justify-content-center">
				<div class="col-8">
							<div class="form-group"> 
			<label for="SemaforoPorcentajeaveria">SemaforoPorcentajeaveria: </label>  
			<span th:text="${semaforo.SemaforoPorcentajeaveria}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="SemaforoSinservicio">SemaforoSinservicio: </label>  
			<span th:text="${semaforo.SemaforoSinservicio}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="SemaforoPerdida">SemaforoPerdida: </label>  
			<span th:text="${semaforo.SemaforoPerdida}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="IdSeccionestacion">IdSeccionestacion: </label>  
			<span th:text="${semaforo.IdSeccionestacion}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="SemaforoId">SemaforoId: </label>  
			<span th:text="${semaforo.SemaforoId}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="SemaforoCantidad">SemaforoCantidad: </label>  
			<span th:text="${semaforo.SemaforoCantidad}"></span> 
		</div> 

				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<div class="d-flex justify-content-end">
						<a class="btn btn-secondary mr-2"th:href="@{/semaforos}">Atrás</a>
						<a class="btn btn-secondary mr-2" th:href="@{/semaforos/delete/{id}(id = ${semaforo.id})}">Borrar</a>
						<a class="btn btn-primary" th:href="@{/semaforos/edit/{id}(id = ${semaforo.id})}">Editar</a>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
