<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/default :: head"></head>
<body class="wrapper">
<!-- Sidebar -->
<head th:replace="layout/default :: sidebar"></head>
<!-- Sidebar -->

<!-- Page Content -->
<div id="content">
	<!-- Top nav -->
	<nav th:replace="layout/default :: navbar"></nav>
	<!-- Top nav -->

	<article class="container-fluid">

		<div id="main-content" class="shadow-sm bg-white">

			<h1>Ductos</h1>
			<hr />

			<table class="table table-hover text-center">
				<thead class="thead-dark">
				<tr>
										<th>IdDucto</th> 
					<th>IdSeccionestacion</th> 
					<th>DuctoId</th> 
					<th>DuctoTipo</th> 
					<th>DuctoCorrosion</th> 
					<th>DuctoFisura</th> 
					<th>DuctoPieza</th> 
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="ducto : ${listDucto}">
										<td th:text="${ducto.IdDucto}"></td> 
					<td th:text="${ducto.IdSeccionestacion}"></td> 
					<td th:text="${ducto.DuctoId}"></td> 
					<td th:text="${ducto.DuctoTipo}"></td> 
					<td th:text="${ducto.DuctoCorrosion}"></td> 
					<td th:text="${ducto.DuctoFisura}"></td> 
					<td th:text="${ducto.DuctoPieza}"></td> 
					<td>
							<a th:href="@{/ductos/{id}(id = ${ducto.id})}">Show</a> 
					 		<a th:href="@{/ductos/edit/{id}(id = ${ducto.id})}">Edit</a> 
							<a th:href="@{/ductos/delete/{id}(id = ${ducto.id})}">Destroy</a> 
					</td>
					<td>
						<a class="action" th:href="@{/ductos/{id}(id = ${ducto.id})}"><i class="flaticon-search"></i></a>
						<a class="action" th:href="@{/ductos/edit/{id}(id = ${ducto.id})}"><i class="flaticon-edit"></i></a>
						<a class="action" th:href="@{/ductos/delete/{id}(id = ${ducto.id})}"><i class="flaticon-trash"></i></a>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a th:href="@{/ductos/new}" class="btn btn-primary">Crear Ducto</a>
			</div>
		</div>

	</article>
</div>
<!-- Page Content -->

<!-- Footer -->
<footer th:replace="layout/default :: footer"></footer>
<!-- Footer -->

<!-- Scripts -->
<div th:replace="layout/default :: scripts"></div>
<!-- Scripts -->
</body>
</html>
